<div class="welcome">

	<div class="beige-bg" id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 col-md-3 text-left">
						<h1>Hello, I'm Heather.</h1>
					</div>

					<div class="entry col-xs-12 col-md-9 text-right border-left">
						<div class="text-left bodywork">


							<p>I'm a skilled developer specializing in Shopify and Squarespace.</p>


							<p>I help designers get the job done with efficiency and solid communication.</p>

							
						</div>

						<div class="entry text-center button">

							<%= link_to "WORK WITH ME", "#contact", class: "btn btn-default ha-btn" %>

						</div>


					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 manifesto">
		<div class="container">
			<div class="row">

				<h4 class="text-center">Some nice words from Sara. </h4>	
				<h4 class="text-center">Sara, <a href="http://www.goodready.co" target="_blank">Good and Ready Design Co.</a> </h4>		
	

			</div>
		</div>
	</div>

	
	<div id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 text-left">
						<h1 class="text-left">MY WORK</h1>

						<h2 class="text-left">SWEET THORN FLORA</h2>
						<p>Lorem Ipsum. Designed by <a href="http://www.goodready.co" target="_blank">Good + Ready Design Co.</a></p>
					</div>


					<div class="entry col-xs-12 text-left">
						<h2 class="text-left">ISLAND HOUSE</h2>
						<p>Lorem Ipsum. Designed by <<a href="http://www.goodready.co" target="_blank">Good + Ready Design Co.</a></p>
					</div>


					<div class="entry col-xs-12 text-left">
						<<h2 class="text-left">ASALANTA EARTH SHOP</h2>
						<p>Lorem Ipsum.</p>

					</div>

					
				</div>
			</div>
		</div>
	</div>


	<div class="col-xs-12">
		<div class="container about" id="about">
			<div class="row">

				<div class="entry col-xs-12 col-md-5 text-left">
					<div class="thumbnail">
						<%= image_tag 'standing.jpg' %>
					</div>
				</div>

				<div class="entry col-xs-12 col-md-7 text-left">
					<h2>Hi, I'm Heather</h4>
					<p>I code websites on Shopify and Squarespace for designers.</p>

					<p>I'm technically skilled in all things front end. I pay great attention to the details of your designs, listen well and communicate with ease.</p>

					<p>At my core, I believe in helping others and my goal is to continually improve in being of service.
					</p>

				</div>

			</div>
		</div>
	</div>	

	

	<div class="col-xs-12 work-header" id="contact">
		<div class="container-fluid">
				
				<div class="row text-center">
				

			</div>
	</div>

