// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_colors.scss";

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.yoga-dot {
  animation: fadein 2s;
}
.massage-dot {
  animation: fadein 4s;
}
.healing-dot {
  animation: fadein 6s;
}

.welcome {
  .container {
    margin: 0px auto;
    text-align: center;
  }
}

#home_header {
	background-image: image-url('laughing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0;
  height: auto;
  width: 100%;
}

.work-header {
  background-color: $beige;
  padding: 20px 0;
}

.manifesto {
  background-color: $beige;
}

.bodywork {
  padding-left: 30px;
}


.about {
  display: flex;
  justify-content: center;
  align-items: center;

  .thumbnail img {
    border-radius: 50%;
    padding-right: 40px;
  }

  .row {
    padding: 100px 0;
    > .col-sm-6 {
      padding-right: 0;
    }
  }
  .entry {
    text-align: left;
    padding: 15px 0;
  }
}


.beige-bg {
	background-color: $light-beige;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0;
  overflow: hidden;
  width: 100%;
  color: $blackish; 
  font-weight: bold;

  h4 {
    color: $blackish;
  }
}

.latestitems {
  

  .insta {
    padding: 30px 0 0;

    h5 {
      padding-bottom: 30px;
      padding-top:  0;
    }
    .container  {
      border-top: none;
      border-bottom: none;
    }
  }
}


.testimonials {

  background-image: image-url('meditating.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  .carousel-indicators {
    bottom: -40px
  }

  .entry.text-right {
    background-color: $purple;
    padding-top: 15px;
  }

  .item {
    min-height: 250px;
    height: auto;
    display: block;
    
    font-size: 1.4em;
    line-height: 2.2em;
    color: $white;
  }

  h2 {
    color: $beige;
    text-align: right;
    padding-right: 25px;
    color: $white;
  }

  p {
    font-size: 1.2em;
    line-height: 2em;
    letter-spacing: .05em;
  }
}



@media (max-width: 414px) {
  #home_header {
    width: 100%;
    height: 200px;
  }

  .bodywork {
    padding-left: 0px;
  }

}
