<div class="col-xs-12 footer">
	<div class="container-fluid">
		<div class="row footer-flex">
			<div class="schedule">
				<h4>CURRENT CLASS SCHEDULE</h4>
				<p>Tu: 7AM @ <a href="http://www.steadfastandtrueyoga.com">Steadfast &amp; True</a>
				<p>Tu: 12PM @ <a href="http://www.marathonpilates.com">Marathon Pilates</a>
				<p>Tu: 4:30PM @ <a href="http://www.steadfastandtrueyoga.com">Steadfast &amp; True</a>

				<p class="connect">
					

					<a href="mailto:heather.allaman@gmail.com" target="_blank">email</a> | 
					<a href="https://www.facebook.com/heather.allaman" target="_blank">facebook</a> | 
					<a href="https://www.instagram.com/ofthefeather/?hl=en" target="_blank">instagram</a>
				</p>
			</div>
		  <p class="bottom text-left">copyright <%= Time.now.year %>. Heather Allaman, all rights reserved</p>
		</div>
	</div>
</div>


