<div class="col-xs-12 footer" id="yoga">
	<div class="container-fluid">
		<div class="row footer-flex">

			<div style="margin: 0px auto; margin: 0 auto 4em;">	<%= link_to image_tag("Heather_Allaman_Moons.png", :class => 'logo'), root_path %></div>


			<div class="bottom">
			  <p class="text-left col-xs-6">copyright <%= Time.now.year %>. Heather Allaman, all rights reserved</p>

			  <p class="text-right col-xs-6">

					<a href="mailto:heather.allaman@gmail.com" target="_blank">email</a> | 
					<a href="https://www.facebook.com/heather.allaman" target="_blank">facebook</a> | 
					<a href="https://www.instagram.com/heat_her_all_a_man/?hl=en" target="_blank">instagram</a>

				</p>
			</div>
		</div>
	</div>
</div>
